<% if @question.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@question.errors.count, "error") %> impide crear la pregunta:</h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@question, :html => { :class => 'form-horizontal', :role => 'form' } ) do |f| %>

    <div class="form-group">
      <%= f.label :pregunta, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :question, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta1, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer1, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta2, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer2, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta3, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer3, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta4, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer4, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solución, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :solution, :class => 'form-control', :placeholder => 'Opciones 1, 2, 3 ó 4' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dificultad, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :difficulty, :class => 'form-control', :placeholder => 'Opciones 1 (fácil), 2(medio) ó 3(difícil)' %>
      </div>
    </div>

    <p>
      <%= f.submit :class => 'btn btn-success' %>
    </p>
<% end %>