<% if @question.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@question.errors.count, "errores") %> impide que se pueda crear la pregunta:</h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@question, :html => { :class => 'form-horizontal', :role => 'form' } ) do |f| %>

    <div class="form-group">
      <%= f.label :pregunta, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :question, :class => 'form-control', :rows => '1' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta1, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer1, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta2, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer2, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta3, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer3, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :respuesta4, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :answer4, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solución, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.select :solution, [['Respuesta 1', 1], ['Respuesta 2', 2], ['Respuesta 3', 3], ['Respuesta 4', 4]], { :include_blank => 'Indique cuál es la respuesta correcta: 1, 2, 3 ó 4' }, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dificultad, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.select :difficulty, [['Fácil', 1], ['Media', 2], ['Difícil', 3]], { :include_blank => 'Indica la dificultad de la pregunta: Fácil, Media o Difícil'}, :class => 'form-control' %>
      </div>
    </div>

    <p>
      <%= f.submit :class => 'btn btn-success' %>
    </p>
<% end %>