<div class="jumbotron">
  <h1>Preguntas</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Pregunta</th>
    <th>Respuesta 1</th>
    <th>Respuesta 2</th>
    <th>Respuesta 3</th>
    <th>Respuesta 4</th>
    <th>Solucion</th>
    <th>Dificultad</th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.question, question_path(question) %></td>
        <td><%= question.answer1 %></td>
        <td><%= question.answer2 %></td>
        <td><%= question.answer3 %></td>
        <td><%= question.answer4 %></td>
        <td><%= question.solution %></td>
        <td><%= question.difficulty %></td>
        <td><%= link_to 'Editar', edit_question_path(question), :class => 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Eliminar', question_path(question), :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: '¿Estás seguro de eliminar esta pregunta? Esta acción no se puede deshacer' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Nueva pregunta', new_question_path, :class => 'btn btn-primary' %>