<div class="jumbotron">
  <h1>Detalle de la pregunta</h1>
  <p class="lead">Aquí puedes ver el detalle de la pregunta</p>

  <p><strong>Pregunta:</strong></p>
  <%= @question.question %>

  <p>
    <strong>Respuesta 1:</strong>
    <%= @question.answer1%>
  </p>

  <p>
    <strong>Respuesta 2:</strong>
    <%= @question.answer2%>
  </p>

  <p>
    <strong>Respuesta 3:</strong>
    <%= @question.answer3%>
  </p>

  <p>
    <strong>Respuesta 4:</strong>
    <%= @question.answer4%>
  </p>

  <p>
    <strong>Solución:</strong>
    <%= @question.solution%>
  </p>

  <p>
    <strong>Dificultad:</strong>
    <%= @question.difficulty%>
  </p>
</div>

<%= link_to 'Atrás', questions_path, :class => 'btn btn-default' %>
<%= link_to 'Editar', edit_question_path, :class => 'btn btn-default' %>
<%= link_to 'Eliminar', @question, :class => 'btn btn-danger', method: :delete, data: { confirm: '¿Estás seguro de eliminar esta pregunta? Esta acción no se puede deshacer' } %>