<p>
  <strong>Pregunta:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Respuesta 1:</strong>
  <%= @question.answer1%>
</p>

<p>
  <strong>Respuesta 2:</strong>
  <%= @question.answer2%>
</p>

<p>
  <strong>Respuesta 3:</strong>
  <%= @question.answer3%>
</p>

<p>
  <strong>Respuesta 4:</strong>
  <%= @question.answer4%>
</p>

<p>
  <strong>Solución:</strong>
  <%= @question.solution%>
</p>

<p>
  <strong>Dificultad:</strong>
  <%= @question.difficulty%>
</p>